@import url("../common.css");
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap');

body {
    font-family: "Zalando Sans", arial;
}

#pre-end, #end {
    transition: none !important;
    animation: none !important;
}

#pre-end {
    background-color: black;
}

#end {
    background: black;
}
