@import url("common.css");
@import url("../leaderboard.css");
@import url("../common-light.css");
@import url("./leaderboard/end.css");

#game {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

#game::-webkit-scrollbar {
    display: none;
}


.bar-chart {
    
    --xaxis-width: 10vmin;
    --yaxis-height: 10vmin;
    
    --target-bars-width: max(80vmin, 60vw);
    --bars-height: 70vmin;
    
    --minimum-bar-width: 8vmin;
    
    --bar-margin: 1vmin;
    
    --bars-width: max(var(--target-bars-width), calc(var(--participants) * var(--minimum-bar-width)));
    
    --target-chart-width: calc(var(--target-bars-width) + var(--xaxis-width));
    
    --chart-width: calc(var(--bars-width) + var(--xaxis-width));
    --chart-height: calc(var(--bars-height) + var(--yaxis-height));
    
    --one-horizontal-grid-space: min(30vmin, calc(var(--bars-width) / var(--participants)));
    --one-vertical-grid-space: calc(var(--bars-height) / var(--max-value));
    
    position: fixed;
    
    display: grid;
    grid-template-columns: var(--xaxis-width) var(--bars-width);
    grid-template-areas:
        "y-axis bars  "
        ".      x-axis";
    grid-template-rows: var(--bars-height) var(--yaxis-height);
    
    left: calc((100vw - var(--target-chart-width)) / 2);
    top: calc((100vh - var(--chart-height)) / 2);
    width: var(--chart-width);
    height: var(--chart-height);
}
.bar-chart .bars {
    grid-area: bars;
    display: flex;
    position: relative;
    align-items: flex-end;
    flex: none;
}

.bar-chart .x-axis {
    grid-area: x-axis;
    border-top: 0.5vmin solid black;
}
.bar-chart .y-axis {
    grid-area: y-axis;
    border-right: 0.5vmin solid black;
}

.bar-chart .target-line {
    position: absolute;
    width: var(--chart-width);
    
    left: calc(0px - var(--xaxis-width));
    bottom: calc(var(--target-value) * var(--one-vertical-grid-space));
    
    border-bottom: 0.2vmin solid #0004;
    font-size: 5vmin;
    
    display: flex;
    flex-direction: column;
    transition: bottom 0.5s ease-out;
}

.bar-chart .target-line:before {
    content: "Goal: ";
    font-size: 2vmin;
}

.bar-chart .bar {
    font-size: 0; /* to prevent blank margin before digits */
    
    width: calc(var(--one-horizontal-grid-space) - var(--bar-margin));
    height: calc(var(--one-vertical-grid-space) * var(--value));
    flex: none;
    margin-left: var(--bar-margin);
    background: linear-gradient(to bottom, #39ab5f, #25703e);
    
    --bar-radius: calc(var(--one-horizontal-grid-space) * 0.1);
    border-radius: var(--bar-radius) var(--bar-radius) 0 0;
    
    position: absolute;
    
    left: calc(var(--rank) * var(--one-horizontal-grid-space));
    
    --vertical-text-margin: 0.5vmin;
    --max-font-size: calc(var(--one-horizontal-grid-space) / 3);
    
    transition: height 0.5s ease-out, left 0.5s ease-out;
    
    box-shadow: 0.5vmin 0.5vmin 1vmin var(--text-shadow);
}

.bar-chart .bar .penalty-questions {
    width: 100%;
    height: calc(var(--penaltyQuestions) * var(--one-vertical-grid-space));
    background: linear-gradient(to bottom, #c00e, #c000 46vmin);
    border-radius: inherit;
    transition: height 0.5s ease-out;
    position: relative;
    z-index: 10;
}

.bar-chart .bar .penalty-questions:after {
    content: attr(penaltyquestions);
    position: absolute;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: var(--vertical-text-margin);
    box-sizing: border-box;
    font-size: min(
        var(--max-font-size),
        calc(
            var(--penaltyQuestions) * var(--one-vertical-grid-space) - (var(--vertical-text-margin) * 2)
        )
    );
    transition: font-size 0.5s ease-out;
}

.bar-chart .bar:after {
    content: attr(value);
    color: white;
    width: 100%;
    text-align: center;
    display: inline-block;
    --vertical-room: calc(var(--value) - var(--penaltyQuestions));
    font-size: max(
        0vmin,
        min(
            calc(
                var(--vertical-room) * var(--one-vertical-grid-space) - (var(--vertical-text-margin) * 2)
            ),
            var(--max-font-size)
        )
    );
    transition: font-size 0.5s ease-out;
    font-style: italic;
}

.bar-chart .bar:before {
    content: attr(username);
    position: absolute;
    color: var(--text);
    font-size: calc(var(--one-horizontal-grid-space) / 5);
    text-align: right;
    top: calc(100% + 1vmin);
    transform: rotate(-20deg);
    right: 50%;
    transform-origin: right;
}

.penalty-shot {
    width: 5vmin;
    height: 5vmin;
    background: radial-gradient(#f00, transparent 50%);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#pre-end {
    background-image: url("./static.gif");
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}
