
@import url("common.css");
@import url("../common-dark.css");
@import url("../player.css");

@import url("./player/damage-select.css");

@keyframes flashOff {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

.pregame-explanation {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 1vmin;
    box-shadow: 0vmin 1vmin 2vmin var(--text-shadow);
    /* margin-top: 5vmin; */
    transition: transform 0.1s ease-in-out;
    transition-property: transform, filter;
}
.pregame-explanation:active {
    transform: scale(0.9) translateY(2vmin);
    filter: brightness(0.8);
}

@keyframes flashStreakButton {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.streak-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.streak-info {
    height: 0;
    opacity: 0;
    transition: 0.4s ease-out;
    transition-property: opacity, height, transform;
    transform: scale(0.2);
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    font-style: italic;
    cursor: pointer;
    align-self: center;
    margin-left: 5px;
}
.streak-details.can-send-damage .streak-info {
    height: 10px;
    opacity: 1;
    transform: scale(1);
    animation: flashStreakButton 0.9s ease-in-out infinite;
    animation-delay: 0.8s;
}

#game {
    --stats-bar-height: 10vmin;
}

#game #stats-bar {
    display: flex;
    justify-content: space-between;
    padding: 1vmin;
    box-sizing: border-box;
    text-shadow: 0 0.5vmin 1vmin var(--text-shadow);
    font-weight: 600;
    height: var(--stats-bar-height);
    align-items: center;
    font-size: 3vmin;
    position: relative;
}

#stats-bar .center-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vmin;
    font-style: italic;
    font-weight: 300;
}

.streak-bars {
    display: flex;
    border-radius: var(--streak-bar-radius);
    --streak-bar-radius: 1vmin;
    width: 35vw;
    mask-image: linear-gradient(0deg, #ffffffff 90%, #00000022 98%, #00000000 100%);
    -webkit-mask-image: -webkit-linear-gradient(0deg, #ffffffff 90%, #00000022 98%, #00000000 100%);
}

.streak-bars > * {
    width: 4vmin;
    height: 6vmin;
    transition: 0.5s ease-in-out;
    transition-property: border-radius, border;
    background-position: center;
    background-size: 6vmin 6vmin;
    border: 0.4vmin solid #0008;
    border-left-width: 0;
    box-sizing: border-box;
    flex: none;
}
.streak-bars > :not(:last-child) {
    border-right: 0.4vmin solid #0002;
}
.streak-bars > :first-child {
    border-left-width: 0.4vmin;
    border-top-left-radius: var(--streak-bar-radius);
    border-bottom-left-radius: var(--streak-bar-radius);
}

.streak-bars > :last-child {
    border-top-right-radius: var(--streak-bar-radius);
    border-bottom-right-radius: var(--streak-bar-radius);
}


.streak-bar {
    background-image: linear-gradient(to bottom, #00ccff, #0088cc, #0055aa);
}
.penalty-bar {
    background-image: linear-gradient(to bottom, #ee5555, #cc0000, #aa0000);
}


#game .correct-animation {
    opacity: 0;
    animation: flashOff 0.5s ease-out;
    background: radial-gradient(#0c3, #060);
    inset: 0;
    position: fixed;
    pointer-events: none;
    z-index: -2;
}
#game .incorrect-animation {
    opacity: 0;
    animation: flashOff 1s ease-out;
    background: radial-gradient(#c00c, #900);
    inset: 0;
    position: fixed;
    pointer-events: none;
    z-index: -2;
}

#game .question {
    position: fixed;
    inset: 20px;
    top: var(--stats-bar-height);
    display: flex;
    flex-direction: column;
    z-index: 0;
}

#game .question.waiting {
    pointer-events: none;
}

#game .question-text,
#game .question-buttons {
    width: 100%;
    height: 50%;
}

#game .question-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vmin;
    text-shadow: 0 1vmin 1.2vmin var(--text-shadow);
    text-align: center;
    overflow-y: auto;
    word-break: break-word;
}
#game .question-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
#game .question .answer-button {
	margin: 10px;
	border-radius: 20px;
	font-size: 4vmin;
	background: linear-gradient(to bottom, #fff5, #fff1);
	color: white;
	border: 1px solid #fff;
	text-shadow: 0 0.5vmin 0.7vmin var(--text-shadow);
	transition: 0.1s ease-in-out transform;
	box-shadow: 0 1vmin 1vmin #0002;
    font-family: inherit;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto;
    word-break: break-word;
}
#game .question .answer-button:hover {
    background-color: #fff3;
}
#game .question .answer-button:active,
#game .question .answer-button.keypress-clicked {
    transform: scale(0.7) !important;
}

#wallpaper {
    transition: filter 0.5s ease-in-out;
}

body:has(#game.visible .penalty-bar) #wallpaper {
    filter: saturate(0.0);
}

.damage-notification {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #f000;
    color: #f00;
    text-shadow: 0 0.5vmin 1vmin var(--text-shadow);
    font-size: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: flashDamageNotification 0.3s ease-out;
    pointer-events: none;
    z-index: 2000
}

@keyframes fadeInGameOver {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(8vmin);
    }
    100% {
        opacity: 0.3;
        transform: scale(1.0) translateY(0vmin);
    }
}

@keyframes fadeInPreEnd {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#pre-end {
    transition: none !important;
    animation: fadeInPreEnd 0.5s ease-in-out !important;
    background-color: black;
}
#end {
    background: black;
    animation: none !important;
    transition: none !important;
}
#end:before {
    content: "Thank you for playing!";
    animation: fadeInGameOver 5s ease-in-out;
    opacity: 0.3;
    font-size: 5vmin;
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}