@import url("../other/gogbubble.css");

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body,
#view-wrapper,
#view-wrapper > * {
    position: fixed;
    inset: 0;
}

#view-wrapper > * {
    transition: 0.5s ease-in-out;
    transition-property: opacity, transform;
}
#view-wrapper > *:not(.visible) {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
}

#wallpaper, #wallpaper canvas {
    pointer-events: none;
    z-index: -100;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    animation: fadein 1s ease-in-out;
}
