
@media screen and (max-width: 600px) {
    #view-wrapper {
        display: none !important;
    }
    body:after {
        content: "Your screen appears to be too small. Please make this window larger, or try zooming out by pressing Command + Minus";
        font-size: 32px;
        font-family: sans-serif;
    }
}

#pregame {
    display: flex;
}

#pregame-sidebar {
    width: 24vw;
    flex: none;
    padding: 1vmin;
    box-sizing: border-box;
}

#joincode {
    text-align: left;
    font-size: 5vmin;
    letter-spacing: 1vmin;
    user-select: text;
}

#joincode:before {
    content: 'Join Code';
    display: block;
    font-size: 2vmin;
    letter-spacing: 0;
    color: #0005;
    height: 2vmin;
}

#game-url {
    font-size: min(3vmin, 1.5vw);
    font-style: italic;
    justify-self: flex-end;
}
body.shortened-url #game-url {
    font-size: 4vmin;
    font-style: italic;
    justify-self: flex-end;
}

body.shortened-url #pregame-sidebar {
    display: none;
}

#game-url span {
    font-weight: 600;
    font-family: monospace;
}

#pregame-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#pregame-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmin;
    font-size: 3vmin;
}

body:not(:has(.player:nth-child(2))) #startgame {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(1);
}
#startgame {
    background: linear-gradient(to bottom, #1cc800, #009439);
    border: 0.3vmin solid #00000063;
    border-radius: 1vmin;
    font-size: inherit;
    padding: 0.9vmin 3vmin;
    box-shadow: 0 1vmin 1vmin #0005;
    cursor: pointer;
    color: white;
    transition: 0.05s ease-in-out;
    transition-property: transform, box-shadow, filter;
}
#startgame:active {
    transform: translateY(1vmin) scale(0.9);
    box-shadow: none;
    filter: brightness(0.9);
}

#pregame-players-list {
    padding: 2vmin;
}

.player {
    background: linear-gradient(to bottom, #000a, #000);
    font-size: 5vmin;
    padding: 1vmin 2vmin;
    display: inline-block;
    text-align: center;
    border-radius: 1.5vmin;
    margin: 1vmin;
    border: 0.4vmin solid #0004;
    color: white;
    box-shadow: 0 1vmin 2vmin #000a;
}

.moderator .player:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.now-playing {
    font-size: 4vmin;
    padding: 2vmin;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    filter: drop-shadow(0 0.2vmin 0.3vmin var(--text-shadow));
    color: #000b;
    justify-content: center;
    align-items: center;
}

@keyframes notes-wobble {
    0% {
    }
    
    50% {
        transform: rotate(0);
    }
    60% {
        transform: rotate(20deg);
    }
    70% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0);
    }
}

.now-playing img.notes {
    height: 3vmin;
    aspect-ratio: 1 / 1;
    margin-right: 20px;
    display: inline;
    animation: notes-wobble 2s ease-in-out infinite;
}
