
@media screen and (max-width: 600px) {
    #view-wrapper {
        display: none !important;
    }
    body:after {
        content: "Your screen appears to be too small. Please make this window larger, or try zooming out by pressing Command + Minus";
        font-size: 32px;
        font-family: sans-serif;
    }
}

#pregame {
    display: flex;
}

#pregame-sidebar {
    width: 300px;
    flex: none;
    padding: 20px;
    box-sizing: border-box;
}

#joincode {
    text-align: left;
    font-size: 40px;
    letter-spacing: 5px;
    user-select: text;
}

#joincode:before {
    content: 'Join Code';
    display: block;
    font-size: 20px;
    letter-spacing: 0;
    color: #0005;
    height: 20px;
}

#game-url {
    font-size: 23px;
    font-style: italic;
    justify-self: flex-end;
}

#game-url span {
    font-weight: 600;
    font-family: monospace;
}

#pregame-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#pregame-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

#startgame {
    background: linear-gradient(to bottom, white, #ccc);
    border: 1px solid gray;
    border-radius: 5px;
    font-size: inherit;
    padding: 5px 20px;
    box-shadow: 0 5px 5px #0005;
    text-shadow: 0 1px #fff;
    cursor: pointer;
}

.player {
    background: linear-gradient(to bottom, #000a, #000);
    font-size: 25px;
    padding: 5px 20px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #0004;
    color: white;
    box-shadow: 0 5px 10px #000a;
}

.moderator .player:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.now-playing {
    font-size: 4vmin;
    padding: 2vmin;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    filter: drop-shadow(0 0.2vmin 0.3vmin var(--text-shadow));
    color: #000b;
    justify-content: center;
    align-items: center;
}

@keyframes notes-wobble {
    0% {
    }
    
    50% {
        transform: rotate(0);
    }
    60% {
        transform: rotate(20deg);
    }
    70% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0);
    }
}

.now-playing img.notes {
    height: 3vmin;
    aspect-ratio: 1 / 1;
    margin-right: 20px;
    display: inline;
    animation: notes-wobble 2s ease-in-out infinite;
}
