
#view-wrapper > .entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#view-wrapper > .entry > * {
    font-size: 30px;
}

#view-wrapper .entry-input {
    width: 300px;
    text-align: center;
    background: #fff8;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 8px;
    font-size: 30px;
    font-family: inherit;
}

#view-wrapper .entry-input:not(:valid) {
    color: red;
}

#view-wrapper #joincode-input {
    letter-spacing: 8px;
}

#view-wrapper > .entry > p {
    font-size: 25px;
}

#pregame-message {
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-shadow: 0 3px 5px var(--text-shadow);
    font-size: 30px;
    flex-direction: column;
}
