div#end {
    display: grid;
    --column-size: min(33.33vw, 40vmin);
    grid-template-columns: var(--column-size) var(--column-size) var(--column-size);
    font-size: 4vmin;
    justify-content: space-evenly;
    /*background: linear-gradient(to bottom, #222, #000);*/
    background: transparent;
    overflow-y: hidden;
    overflow-x: hidden;
}

.end-col-title {
    color: white;
    text-shadow: 0 0.5vmin 1vmin #000;
    font-size: 5vmin;
    text-align: center;
    margin-top: 3vmin;
}

.end-player {
    color: white;
    font-weight: 200;
    box-sizing: border-box;
    padding: 2vmin;
    display: flex;
    flex-direction: column;
}
.end-player-name {
    overflow: hidden;
    mask-image: linear-gradient(0deg, #fff 80%, #fff0);
    -webkit-mask-image: -webkit-linear-gradient(0deg, #fff 80%, #fff0);
    width: 100%;
    font-weight: 500;
    text-align: center;
}

.end-player .rank {
    text-align: center;
    font-size: 2.4vmin;
    font-weight: 300;
    margin-top: 1vmin;
}

.end-player .rank:not(:empty)::after {
    content: " place";
    font-size: 0.9em;
    color: #fffa;
}

.end-player:nth-child(2) {
    font-weight: 500;
    margin-top: 2vmin;
}

.end-col {
    background: linear-gradient(to bottom, #39ab5f, #25703e);
    border-radius: 5vmin 5vmin 0 0;
    margin: 0 1vmin 0 1vmin;
    box-shadow: 1vmin 1vmin 2vmin #0005;
}
.end-questions {
    color: white;
    text-align: center;
    font-size: 8vmin;
    font-style: italic;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    top: 0;
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
    padding-bottom: 2vmin;
    text-shadow: 0 0.5vmin 1vmin var(--text-shadow);
}

.end-questions:not(:empty):after {
    font-size: 2vmin;
    content: "QUESTIONS ANSWERED";
}

.place-1 {
    order: 1;
    margin-top: 40vmin;
}
.place-2 {
    order: 0;
    margin-top: 50vmin;
}
.place-3 {
    order: 2;
    margin-top: 60vmin;
}

.end-answered-details {
    position: fixed;
    left: 0;
    top: 0;
    font-size: 3vmin;
    text-align: center;
    width: 100vw;
    margin-top: 4vmin;
}

.end-thanks-title {
    position: fixed;
    bottom: 80vh;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100vw;
    font-size: 6vmin;
}

