div#end {
    display: grid;
    --column-size: min(33.33vw, 40vmin);
    grid-template-columns: var(--column-size) var(--column-size) var(--column-size);
    font-size: 4vmin;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #222, #000);
    overflow-y: auto;
    overflow-x: hidden;
}

.end-col-title {
    color: white;
    text-shadow: 0 0.5vmin 1vmin #000;
    font-size: 5vmin;
    text-align: center;
    margin-top: 3vmin;
}

.end-player {
    color: white;
    font-weight: 200;
    box-sizing: border-box;
    padding: 2vmin;
    display: flex;
    justify-content: space-between;
}
.end-player-name {
    overflow: hidden;
    mask-image: linear-gradient(0deg, #fff 80%, #fff0);
    -webkit-mask-image: -webkit-linear-gradient(0deg, #fff 80%, #fff0);
    width: 100%;
    text-align: left;
}

.end-player:nth-child(2) {
    font-weight: 500;
    margin-top: 2vmin;
}

.end-col:nth-child(3) {
    text-align: center;
}