form[error]::after {
	content: attr(error);
	color: red;
	display: block;
	margin-top: 5px;
}
input[type="text"], input[type="password"] {
	width: 230px;
}
:not(input, textarea)[disabled] {
	opacity: 0.5;
	pointer-events: none;
}